
<div class="card-body bg-light" id="mediaFilter">
  <form class="" #filtersubmit="ngForm" (ngSubmit)= "updateFilter(filtersubmit.value)" >
	  <div class="row">
		  <div class="col mb-3">
			  <label>Search</label>
			  <input class="form-control form-control-sm" type="text" id="inputSearch" name="inputSearch" aria-controls="searchtext-info"/>
		  </div>
	  </div>
	  <div class="row">
		  <div class="col-md-6 mb-3">
			  <label>Filter by {{dataHouse?.filterKeys[0]}}</label>
			  <select [(ngModel)]="fltrTopics" name="Topics" class="form-control form-control-sm">
				  <option [selected]="dataHouse?.filterKeys[0]" value="" selected>{{dataHouse?.filterKeys[0]}}</option>
				  <option class="dropdown-item" *ngFor="let vals of dataHouse?.filters.Topics" value="{{vals}}">
					  {{vals}}
				  </option>
			  </select>
		  </div>

		  <div class="col-md-6 mb-3">
			  <label>Filter by {{dataHouse?.filterKeys[1]}}</label>
			  <select [(ngModel)]="fltrContentSource" name="ContentSource" class="form-control form-control-sm">
				  <option [selected]="dataHouse?.filterKeys[1]" value="" selected>{{dataHouse?.filterKeys[1]}}</option>
				  <option class="dropdown-item" *ngFor="let vals of dataHouse?.filters['Content Source']"
						  value="{{vals}}">{{vals}}
				  </option>
			  </select>
		  </div>
	  </div>

	  <div class="row">
		  <!-- Submit / Reset Buttons -->
		  <div class="col-4">
			  <button type="reset" class="btn btn-sm btn-white" (ngClick)="filtersubmit.reset()">Reset</button>
			  <button type="submit" class="btn btn-sm btn-primary">Submit</button>
		  </div>
	  </div>


      <!-- GREP STUFF FOR REFERENCE -->
      <!-- <div class="span7" style="margin-right:15px;">
          <label for="inputSearch">Search</label>
          <input type="text" id="inputSearch" [(ngModel)]="searchText" name="searchText" placeholder="Topic, Category, etc." aria-controls="searchtext-info" (input)="focusFirstItem()" />
      </div>

      <div class="span4">
        <label for="searchCat">Filter by <span class="tp-sr-only">category</span></label>
        <select [(ngModel)]="searchCat" name="searchCat" id="searchCat" aria-controls="category-info" (change)="focusFirstItem()">
          <option [selected]="searchCat === ''" value="" selected>Select Category</option>
          <option *ngFor="let category of filterMeta?.cdc_session_browsing_categories" [ngValue]="category">{{category}}</option>
        </select>
      </div>

      <div class="span4">
        <label for="searchYear">Filter by <span class="tp-sr-only">lifespan</span></label>
        <select [(ngModel)]="searchYear" name="searchYear" aria-controls="lifespan-info" id="searchYear" (change)="focusFirstItem()">
          <option [selected]="searchYear === ''" value="" selected>Select Lifespan</option>
          <option *ngFor="let year of filterMeta?.cdc_session_browsing_lifespan" [ngValue]="year">{{year}}</option>
        </select>
      </div>

      <div class="span4 pull-right">
        <label for="searchSort">Sort by <span class="tp-sr-only">category</span></label>
        <select [(ngModel)]="searchSort" name="searchSort" id="searchSort" (change)="focusFirstItem()" aria-controls="sort-info">
          <option [ngValue]="sortItems?.cdc_short_title.asc">{{sortItems?.cdc_short_title.asc}}</option>
          <option [ngValue]="sortItems?.cdc_short_title.desc">{{sortItems?.cdc_short_title.desc}}</option>
          <option [ngValue]="sortItems?.cdc_event_start_date.asc">{{sortItems?.cdc_event_start_date.asc}}</option>
          <option [ngValue]="sortItems?.cdc_event_start_date.desc">{{sortItems?.cdc_event_start_date.desc}}</option>
        </select>
      </div> -->
  </form>
</div>

<div class="applayout">
  <a [class.selected-layout]="appLayout==='list'" (click)="$event.stopPropagation(); appLayout='list';">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>view_headline</title>
      <path d="M3.984 5.016h16.031v1.969h-16.031v-1.969zM3.984 11.016v-2.016h16.031v2.016h-16.031zM3.984 18.984v-1.969h16.031v1.969h-16.031zM3.984 15v-2.016h16.031v2.016h-16.031z"></path>
    </svg>
  </a>
  <a [class.selected-layout]="appLayout==='thumb'" (click)="$event.stopPropagation(); appLayout='thumb';">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>view_list</title>
      <path d="M9 5.016h12v3.984h-12v-3.984zM9 18.984v-3.984h12v3.984h-12zM9 14.016v-4.031h12v4.031h-12zM3.984 9v-3.984h4.031v3.984h-4.031zM3.984 18.984v-3.984h4.031v3.984h-4.031zM3.984 14.016v-4.031h4.031v4.031h-4.031z"></path>
    </svg>
  </a>
</div>


<!-- <div *ngIf="!(items | filter:searchText:searchYear:searchCat:searchSort)?.length" class="noResults">
  <a href="#" id="media_0">No Grand Rounds sessions meet the selected criteria. Please adjust the filter options above.</a>
</div> -->



<div class="mediaResults">
  <!-- <div class="span12 mediaModule" aria-atomic="true"
    *ngFor="let item of items | filter : searchText:searchYear:searchCat:searchSort; let i = index; let odd = odd"> -->

  <div *ngIf="appLayout==='list'">
    <div class="mediaModule" aria-atomic="true" *ngFor="let item of filteredData | paginate: { itemsPerPage: 5, currentPage: p }; let i = index; let odd = odd">
        <h3><a href="#" id="media_{{i}}">{{item['Post Title']}}</a></h3>

        <div [innerHTML]="" class="mediaDesc">
          <p>Lorem ipsum dolor sit amet consectetur, quasi ipsum perspiciatis cumque, eos magni odit quos. Obcaecati, architecto quae.</p>
        </div>

        <div class="mediaDate gray4-color">
          Last Reviewed: {{item['Last Reviewed'] | date:'MMMM y'}} -
          <span *ngFor="let cats of item.Topics | slice:0:10; let last = last">
            {{cats}}<span *ngIf="!last">, </span>
          </span>
        </div>
    </div><!-- mediaModule -->

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

  <!-- THUMBNAIL LAYOUT -->
  <div *ngIf="appLayout==='thumb'">
    <div class="mediaModule" aria-atomic="true" *ngFor="let item of filteredData | paginate: { itemsPerPage: 5, currentPage: p }; let i = index; let odd = odd">
      <div class="row">
        <div class="col-3"><img src="//placeimg.com/220/125/animals/any?i={{i}}" alt="{{item['Post Title']}} image" /></div>

        <div class="col-9">
          <div class="mediaModulePad">
            <h3><a href="#" id="media_{{i}}">{{item['Post Title']}}</a></h3>

            <div [innerHTML]="" class="mediaDesc">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum corrupti amet sapiente dolorum nemo, asperiores eaque enim voluptas, aperiam quasi ipsum perspiciatis cumque, eos magni odit quos. Obcaecati, architecto quae.</p>
            </div>

            <div class="mediaDate gray4-color">
              Last Reviewed: {{item['Last Reviewed'] | date:'MMMM y'}} -
              <span *ngFor="let cats of item.Topics | slice:0:10; let last = last">
                {{cats}}<span *ngIf="!last">, </span>
              </span>
            </div>
          </div><!-- mediaModulePad -->
        </div><!-- col -->
      </div><!-- row -->

    </div><!-- mediaModule -->
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

</div>
